body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.header {
    /*position: fixed;*/
    /*width: 100%;*/
    display: flex;
    background-image: linear-gradient(to right, #029eff, #010164);
    /*background-color: #002175;*/
    color: white;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 5vh;
    padding-inline: 200px;
    align-items: center;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.menu > a {
    text-decoration: none;
    color: white;
}

.card {
    width: 70%;
    background-color: white;
    box-shadow: 0 0 12px grey;
    border-radius: 10px;
    padding: 8px;
    padding-inline: 24px;
}

.cardViewer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.features{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.features > div > div {
    font-size: x-large;
}
.features > div > div:hover {
    font-size: xx-large;
    font-weight: bold;
    cursor: pointer;
}

.footer {
    padding: 18px;
    padding-inline: 200px;
    background-image: linear-gradient(to right, #029eff, #010164);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 18px;
    padding-bottom: 18px;
    gap: 6px;
}
#getStarted{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 12px;
    width: 30%;
    transition-duration: 0.4s;
}

#getStarted:hover {
    /*padding: 40px;*/
    width: 30%;
    /*font-weight: bold;*/
    /*background-image: linear-gradient(to right, #029eff, #010164);*/
    border-radius: 16px;
}

input,#assignedStaff{
    font-family: Montserrat, sans-serif;
    border-radius: 10px;
    width: 100%;
    padding: 12px;
    border: 1px solid blue;
    background-color: rgba(232, 240, 254, 1.0);
}
input:focus,#assignedStaff {
    border-radius: 18px;
    border: 2px solid blue;
    outline: none !important;
}


.form > button {
    margin-top: 18px;
    padding: 8px;
    padding-inline: 54px;
    border-radius: 18px;
    background-color: royalblue;
    border: 0;
    color: white;
}
.form > button:hover {
    cursor: pointer;
}

select {
    padding: 8px;
    padding-inline: 18px;
    border-radius: 12px;
}

.error {
    background-color: rgba(220, 20, 60, 0.74);
    color: white;
    padding: 12px;
    padding-inline: 18px;
    margin-block: 8px;
    border-radius: 8px;
}
.chatContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
}
.chatLeft {
    /*flex: 1 1 auto;*/
    width: 25%;
    height: 89vh;
    padding-block: 10px;
}
.chatLeft >button {
    position: absolute;
    bottom: 0;
    left: 25%;
    transform: translate(-140%, -25%);
    height: 50px;
    width: 50px;
    font-size: x-large;
    border-radius: 50%;
    /*margin: 12px;*/
    background-color: royalblue;
    color: white;
    border: none;
    transition-duration: 0.4s;
    /*box-shadow: 0 0 10px grey;*/
}
.groupBody {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    gap: 10px;
    border-radius: 16px;
    /*padding: 10px;*/
}
button:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.clickableGroup:hover {
    cursor: pointer;
    background-color: #cccccc;
}
.chatMiddle {
    width: 50%;
    display: flex;
    flex-flow: column;
    height: 89vh;
}

.chatList {
    overflow-y: scroll;
    height: 75vh;
}

.chatHeader {
    background-color: white;
    /*border-radius: 12px;*/
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    box-shadow: 0 8px 8px #e3e3e3;
    color: black;
}

.chatBox {

    display: flex;
    flex-direction: row;
}

.chatInput {
    display: flex;
    padding: 4px;
    flex-direction: row;
    /*width: 70%;*/
    justify-content: space-between;
}

.chatInput > button {
    background-color: royalblue;
    border: none;
    color: white;
    height: 40px;
    width: 40px;
    font-size: x-large;
    border-radius: 50%;
}

.chatRight {
    width: 25%;
    height: 100%;
}
.chatHeader > div > button {
    height: 35px;
    width: 35px;
    font-size: large;
    border-radius: 50%;
    /*margin: 12px;*/
    background-color: royalblue;
    color: white;
    border: none;
    transition-duration: 0.4s;
}

.grouplist {
    overflow-y: scroll;
    margin-top: 8vh;
    height: 80vh;
    padding-inline: 4px;
}
.modal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.btn {
    padding: 8px;
    padding-inline: 16px;
    background-color: black;
    color: white;
    border-radius: 12px;
}

.modalBody {
    background-color: white;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    padding: 18px;
    box-shadow: 0 0 10px grey;
}

.newgroupmemberlist {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 50%;
    height: 20vh;
    overflow-y: scroll;
}
.newgroupmemberlist > div > div {
    padding: 4px;
    border-radius: 6px;
}
.groupPreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    width: 20%;
    gap: 12px;
}
#createGroupSubmit {
    background-color: royalblue;
    border-radius: 20px;
    color: white;
    border: none;
    padding: 8px;
    padding-inline: 34px;

}
.chatRight > div > div {
    display: none;
}
.chatMiddle > div > div {
    display: none;
}
.leftComplaint{
    background-image: linear-gradient(to right, #029eff, #010164);
    color: white;
    padding-inline: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*box-shadow: 5px 0 10px #a9a9a9;*/
}
a{
    text-decoration: none;
    color: white;
}



.leftComplaint > div > div {
    padding: 12px;
}
.leftComplaint > div > div > a {
    padding: 12px;
    text-decoration: none;
    color: white;
}
.leftComplaint > div > div:hover {
    background-color: #00499d;
    border-radius: 12px 12px 0 0;
    cursor: pointer;
}

/*.newgroupmemberlist > div > input {*/
/*    visibility: hidden;*/
/*}*/
/*.newgroupmemberlist > div:hover {*/
/*    background-color: #e3e3e3;*/
/*    border-radius: 6px;*/
/*}*/