<div th:fragment="header">
    <div class="header">
        <div style="font-weight: bolder; font-size: x-large">H-manage+</div>
        <div class="menu">
            <a href="/">Home</a>
            <a href="#">Complaints</a>
            <a href="#">Inventory</a>
            <a href="#">Chat</a>
        </div>
        <div>
            <a href="/login" style="text-decoration: none; color: white; margin-right: 10px">Login</a>
            <a href="/register" style="text-decoration: none; color: white">Register</a>
        </div>
    </div>

</div>

<div th:fragment="footer">
    <div class="footer">
        <div>
            <div style="font-weight: bolder; font-size: large">H-manage+</div>
            <div style="font-size: 12px; padding-top: 10px">
                A Complete Hostel Management App <br>
                Project Made for CSO-361 DBMS Course
            </div>
        </div>
        <div>
            <div style="text-align: right; ">Contributors</div>
            <div style="font-size: 12px; text-align: right">
                Soumyadeep Das <br>
                Ujjwal Modi <br>
                Arindam Srivastava <br>
                Satyam Chitransh <br>
                Nachiketa Sharma <br>
                Kunal Lalwani
            </div>
        </div>
    </div>
</div>