<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>

<body>
<div class="modal">
    <div class="modalBody">

        <div style="font-size: x-large; font-weight: bold">Create a New Group</div>
        <div style="display: flex; flex-direction: row; width: 100%">
            <div style="width: 80%; display: flex; flex-direction: column; gap: 12px; padding-block: 20px;">
                <label for="newgroupname">
                    <input name="newGroupName" required onkeyup="updateGroupName()" id="newgroupname" type="text" placeholder="Group Name" style="background-color: white; width: 50%">
                </label>
                <label for="newgroupdesc">
                    <input name="newGroupName"  id="newgroupdesc" type="text" placeholder="Group Description" style="background-color: white; width: 80%">
                </label>
                <div id="countmember" style="font-weight: 500">Add members(0 added) </div>
                <div class="newgroupmemberlist" onclick="updateMemberView()">
                    <div th:each="member: ${allMembers}">
                        <div style="display: flex; flex-direction: row; justify-content: flex-start" >
                            <input style="width: 20%" type="checkbox" value="sdfs" th:id="${member.mid}"/>
                            <input type="hidden"  name="mid" th:value="${member.mid}">
                            <input type="hidden"  name="role" th:value="${member.role}">
                            <label th:for="${member.mid}" th:text="${member.firstname + ' ' + member.lastname}"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="groupPreview">
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 8px">
                    <div style="height: 60px; width: 60px; border-radius: 50%; background-color: hotpink;
                                    display: flex; justify-content: center; align-items: center;
                                ">WS</div>
                    <div>group name</div>
                    <div id="totalParticipants" style="font-size: small">0 Participants</div>
                </div>
                <button id="createGroupSubmit" onclick="createGroup()">Create</button>
            </div>
        </div>

    </div>

</div>
<div th:replace="~{fragments/headers :: header}"></div>
<div class="chatContainer">
    <div class="chatLeft">
        <label for="searchGroups" style="position: absolute; width: 25%; display: flex; flex-direction: row; justify-content: center; align-items: center; padding-bottom: 12px">
            <input placeholder="Search"  onkeyup="searchGroups()" type="text" style="font-family: Montserrat, sans-serif;border-radius: 20px; width: 85%" id="searchGroups"/>
        </label>
        <button id="newgroup" onclick="newGroup()">+</button>
        <div class="grouplist">
            <div th:each="group: ${messageGroups}">
                <div style="display: flex; flex-direction: row; border-radius: 16px; justify-content: space-between; padding: 12px" class="clickableGroup" th:groupId="${group.grpId}">
                    <div class="groupBody">
                        <div style="width: 35px; height: 35px; background-color: hotpink; border-radius: 50%; display: flex; justify-content: center; align-items: center;"
                             th:text="${group.name[0]}"></div>
                        <div style="display: flex; flex-direction: column">
                            <div style="font-weight: 500;" th:text="${group.name}"></div>
                            <div style="font-size: small" class="lastMsg" th:groupId="${group.grpId}"
                                 th:text="${#lists.size(group.messages)} ? ${group.messages[#lists.size(group.messages)-1].firstname+' : '+group.messages[#lists.size(group.messages)-1].content} : ''"
                            ></div>
                            <!--                                <div style="font-size: small" class="lastMsg" th:groupId="${group.grpId}" th:if="${#lists.size(group.messages)}" th:text="${group.messages[#lists.size(group.messages)-1].firstname + ' : ' + group.messages[#lists.size(group.messages)-1].content}"></div>-->
                        </div>
                    </div>
                    <div style="height: 20px; min-width: 20px; color: white; font-size: small; padding-inline: 6px; background-color: #00c73e; border-radius: 10px; display: flex; justify-content: center; align-items: center;"
                         th:groupId="${group.grpId}" class="unseenMsg" th:text="${group.unreadCnt}"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="chatMiddle">
        <div th:each="group: ${messageGroups}">
            <div class="chatBody" th:groupId="${group.grpId}">
                <div class="chatHeader">
                    <div style="display:flex; flex-direction: row; align-items: center; gap: 10px">
                        <div style="width: 35px; height: 35px; background-color: hotpink; border-radius: 50%; display: flex; justify-content: center; align-items: center;" th:text="${group.name[0]}">
                        </div>
                        <div th:text="${group.name}">
                        </div>
                    </div>
                </div>
                <div class="chatList" th:groupId="${group.grpId}">
                    <div th:each="message: ${group.messages}">
                        <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 12px">
                            <div class="groupBody">
                                <div style="width: 35px; height: 35px; background-color: hotpink; border-radius: 50%; display: flex; justify-content: center; align-items: center;"
                                     th:text="${message.firstname[0] + (message.lastname.length()>0?message.lastname[0]:'')}"></div>
                                <div style="display: flex; flex-direction: column;">
                                    <div style="font-weight: 500; font-size: 14px;" th:text="${message.firstname + ' ' + message.lastname}"></div>
                                    <div style="font-size: small" th:text="${message.content}"></div>
                                </div>
                            </div>
                            <div style="text-align: right; font-size: x-small" th:text="${message.sentAt}"></div>
                        </div>
                    </div>
                </div>
                <div class="chatInput" th:groupId="${group.grpId}">
                    <label style="width: 90%" th:for="${'message' + group.grpId}">
                        <input placeholder="Type a message" style="font-family: Montserrat, sans-serif;background-color: white;" type="text" name="message" th:id="${'message'+group.grpId}"></label>
                    <button>→</button>
                </div>
            </div>
        </div>
    </div>
    <div class="chatRight">
        <div th:each="group: ${messageGroups}">
            <div th:groupId="${group.grpId}">
                <div style="display: flex; flex-direction: column; gap: 12px; align-items: center; padding: 20px">
                    <div style="width: 55px; height: 55px; background-color: hotpink; border-radius: 50%; display: flex; justify-content: center; align-items: center;"
                         th:text="${group.name[0]}"></div>
                    <div style="font-size: x-large" th:text="${group.name}"></div>
                    <div style="font-size: small; max-height: 10vh; padding-inline: 12px; overflow-y: hidden" th:text="${group.description}">
                    </div>
                </div>
                <div style="overflow-y: scroll; height: 56vh; display: flex; flex-direction: column; gap: 10px; padding: 12px;">
                    <div th:each="member: ${group.members}">
                        <div class="groupBody">
                            <div style="width: 35px; height: 35px; background-color: hotpink; border-radius: 50%; display: flex; justify-content: center; align-items: center;"
                                 th:text="${member.firstname[0] + (member.lastname.length()>0?member.lastname[0]:'')}"></div>
                            <div style="display: flex; flex-direction: column;">
                                <div th:text="${member.firstname + ' ' + member.lastname}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    function getTime(s) {
        let a = s.split(' ')[0];
        a = a.split(':')[0]+':'+a.split(':')[1]+' ';
        let b = s.split(' ')[1];
        return a+b;
    }
    const stompClient = new StompJs.Client({
        brokerURL: 'wss://hostel-management-production-e23b.up.railway.app:443/establish-socket-connection'
    });

    function foo(idx, content) {
        stompClient.publish({
            destination: `/socket/message/send/${idx}`,
            body: JSON.stringify({'content': content})
        });
    }

    function msgReceive(grpId) {
        stompClient.subscribe(`/socket/message/receive/${grpId}`, (message) => {
            console.log(JSON.parse(message.body));
            message = JSON.parse(message.body);
            let dd = document.createElement("div");
            let strDate = message['sentAt'].toString();
            // console.log(strDate.split['T']);
            strDate = strDate.split('T')[0] + " " + strDate.split('T')[1];
            let date = new Date(strDate);
            if(message['lastname'].length === 0)
                message['lastname'] = ' ';
            dd.innerHTML = `
                    <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 12px">
                        <div class="groupBody">
                            <div style="width: 35px; height: 35px; background-color: hotpink; border-radius: 50%; display: flex; justify-content: center; align-items: center;"
                                >${message['firstname'][0]}${message['lastname']==null?'':message['lastname'][0]}</div>
                            <div style="display: flex; flex-direction: column; justify-content: space-between">
                                <div style="font-size: 14px; font-weight: 500">${message['firstname']} ${message['lastname']}</div>
                                <div style="font-size: small">${message['content']}</div>
                            </div>
                        </div>
                        <div style="text-align: right; font-size: x-small">${getTime(date.toLocaleTimeString())}<br>${date.toLocaleDateString()}</div>
                    </div>
                `;

            let divs = document.getElementsByClassName("chatList");
            for(let i = 0;i<divs.length;i++) {
                if(divs[i].getAttribute("groupId") == grpId) {
                    divs[i].appendChild(dd);
                    console.log(divs[i]);
                    divs[i].scrollTop = divs[i].scrollHeight;
                    break;
                }
            }
            let middleChildren = document.getElementsByClassName("chatMiddle")[0].children;
            let left = document.getElementsByClassName("lastMsg");
            let unseen = document.getElementsByClassName("unseenMsg");
            for(let i=0;i<middleChildren.length;i++) {
                let inpDiv = middleChildren[i].children[0].children[2];
                let block = middleChildren[i].children[0];
                // console.log(inpDiv);
                let idx = inpDiv.getAttribute("groupId");
                if(idx == grpId) {
                    // console.log(grpId, inpDiv);
                    if(block.style.display === 'none') {
                        console.log("this is unseen!");
                        for(let i=0;i<unseen.length;i++) {
                            if(unseen[i].getAttribute("groupId") == grpId) {
                                console.log("sdfsdf")
                                unseen[i].innerHTML = parseInt(unseen[i].innerHTML)+1;
                            }
                        }
                    }
                    else{
                        fetch(`/api/update-unread-cnt/${idx}`)
                            .then((res)=>res.json
                                .then((res)=>res
                                ))
                    }
                    inpDiv.children[0].children[0].value = "";
                    break;
                }
            }

            for(let i=0;i<left.length;i++) {
                console.log(left[i]);
                if(left[i].getAttribute("groupId") === grpId) {
                    left[i].innerHTML =  message['firstname'] + " : " + message['content'];
                }
            }

        });
    }
    stompClient.onConnect = (f) => {
        console.log("connected!!!");
        fetch("/api/groups").then((e) => {
            e.json().then(grpList => {
                grpList.forEach(grp => msgReceive(grp.toString()));
            });
        });
    }

    stompClient.activate();



    // middle
    let middleChildren = document.getElementsByClassName("chatMiddle")[0].children;
    for(let i=0;i<middleChildren.length;i++) {
        let inpDiv = middleChildren[i].children[0].children[2];

        // console.log(inpDiv);
        let grpId = inpDiv.getAttribute("groupId");
        // console.log(inpDiv.children[1], inpDiv.children[0].children[0].value)
        inpDiv.children[0].children[0].addEventListener('keyup', (event) => {
            if(event.keyCode == 13) {
                console.log("enter key pressed!");
                let msg = inpDiv.children[0].children[0].value;
                if(msg.length == 0) return;
                foo(grpId, msg);
            }
        })
        inpDiv.children[1].addEventListener('click', (e) => {
            let msg = inpDiv.children[0].children[0].value;
            if(msg.length == 0) return;
            foo(grpId, msg);
        });
    }


    let leftList = document.getElementsByClassName("grouplist")[0].children;
    for (let i=0;i<leftList.length;i++) {
        let x = leftList[i].children[0];
        let idx = x.getAttribute("groupId");
        x.addEventListener("click", (e) => {
            let par = document.getElementsByClassName("chatMiddle")[0].children;

            for (let j=0;j<par.length;j++) {
                // console.log("im here");
                if(par[j].children[0].getAttribute("groupId") === idx) {
                    par[j].children[0].style.display = "block";
                    let list = par[j].children[0].children[1];
                    console.log(list);
                    list.scrollTop = list.scrollHeight;
                    for (let i=0;i<list.children.length;i++) {

                        let dateStr = list.children[i].children[0].children[1].innerHTML;
                        console.log(dateStr);
                        dateStr = dateStr.split(' ')[0] + " " + dateStr.split(' ')[1];
                        console.log(dateStr);
                        let date = new Date(dateStr);
                        if(date.toString() !== 'Invalid Date'){
                            list.children[i].children[0].children[1].innerHTML = `
                                ${getTime(date.toLocaleTimeString())}<br>${date.toLocaleDateString()}
                            `;
                        }
                    }



                    let unseen = document.getElementsByClassName("unseenMsg");
                    for(let i=0;i<unseen.length;i++) {
                        if(unseen[i].getAttribute("groupId") == idx) {
                            unseen[i].innerHTML = 0;
                        }
                    }

                }else{
                    par[j].children[0].style.display = "none";
                }
            }
            par = document.getElementsByClassName("chatRight")[0].children;
            for (let j=0;j<par.length;j++) {
                // console.log(par[j].children[0])
                if(par[j].children[0].getAttribute("groupId") == idx) {
                    console.log("sdfsf")
                    par[j].children[0].style.display = "block";
                }else{
                    par[j].children[0].style.display = "none";
                }
            }
            fetch(`/api/update-unread-cnt/${idx}`)
                .then((res)=>res.json
                    .then((res)=>res
                    ))
        });
    }


    function searchGroups() {
        let inp = document.getElementById("searchGroups").value;
        let allGroups = document.getElementsByClassName("clickableGroup");
        console.log(allGroups);
        for(let i = 0; i < allGroups.length; i++) {
            if (allGroups[i].innerHTML.toLowerCase().includes(inp)) {
                allGroups[i].style.display = "flex";
            }else{
                allGroups[i].style.display = "none";
            }
        }
    }
    function updateGroupName() {
        let str = document.getElementById("newgroupname").value.split(' ');
        // console.log(str);
        let fnl = "";
        if(str[0][0] !== undefined ) fnl += str[0][0].toUpperCase();
        if(str[1][0] !== undefined ) fnl += str[1][0].toUpperCase();
        // console.log(fnl);
        document.getElementsByClassName("groupPreview")[0].children[0].children[0].innerHTML = fnl;
        document.getElementsByClassName("groupPreview")[0].children[0].children[1].innerHTML = document.getElementById("newgroupname").value;
    }

    let members = document.getElementsByClassName("newgroupmemberlist")[0].children;
    for(let i=0; i<members.length; i++) {
        console.log(members[i]);
        members[i].addEventListener("mouseover", function() {
            members[i].children[0].style.backgroundColor = "#e3e3e3";
        });
        members[i].addEventListener("mouseleave", function() {
            if(!members[i].children[0].children[0].checked)
                members[i].children[0].style.backgroundColor = "white";
        });
    }
    function updateMemberView() {
        let members = document.getElementsByClassName("newgroupmemberlist")[0].children;
        let cnt = 0;
        for(let i=0; i<members.length; i++) {
            let inpBox = members[i].children[0].children[0];
            console.log(inpBox);
            if(inpBox.checked) {
                cnt++;
                members[i].children[0].style.backgroundColor = "#e5e5e5";
            }else{
                members[i].children[0].style.backgroundColor = "white";
            }
        }
        document.getElementById("countmember").innerHTML = `Add Members(${cnt} added.)`;
        document.getElementById("totalParticipants").innerHTML = `${cnt} Participants`;
        // document.getElementsByClassName("groupPreview")[0].children[0].children[2].innerHTML = `${cnt} Participants`;

    }
    let modal = document.getElementsByClassName("modal")[0];
    function newGroup() {
        modal.style.display = "flex";
    }
    window.onclick = function(event) {
        if(event.target == modal) {
            console.log("sdf")
            modal.style.display = 'none';
        }
    }

    function createGroup(event) {
        // event.preventDefault();
        let grpName = document.getElementById("newgroupname").value;
        if(grpName.length == 0) {
            return;
        }
        let grpDesc = document.getElementById("newgroupdesc").value;
        let members = []
        let list = document.getElementsByClassName("newgroupmemberlist")[0].children;
        for(let i=0;i<list.length;i++) {
            let inpBoxes = list[i].children[0].children;
            if(inpBoxes[0].checked) {
                let obj = {
                    mid: inpBoxes[1].value,
                    role: inpBoxes[2].value
                }
                members.push(obj)
            }
        }
        const URL = "/api/create/group"
        fetch(URL, {
            method: "POST",
            headers: {
                'Content-type': 'application/json'
            },
            body: JSON.stringify({
                name: grpName,
                description: grpDesc,
                members: members
            })
        }).then((e) => {
            console.log(e);
            location.reload();
        });

    }
</script>

</body>
</html>